      .thumbnail {
        width: 300px;
        display: block;
      }

      .video-title {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

      .video-preview {
        width: 300px;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
      }
      
      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 20px;
      }

      .channel-picture {
        background-color: rgba(128, 128, 128, 0);
      }

      .video-info {
        background-color:  rgba(128, 128, 128, 0);
      }

      .profile-picture {
        width: 40px;
        border-radius: 50px;
      }

      .thumbnail-row {
        margin-bottom: 12px;
      }

      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-author {
        margin-bottom: 4px;
      }

      .video-grid {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        padding-bottom: 20px;
      }